{% extends 'base.html.twig' %}

{% block title %}Equipes index{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-10"></div>
            <div class="col-2">
                <a class="btn btn-lg btn-primary mt-4" href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        </div>
        <div class="row vide1 mb-5">
            <div class="col">

            </div>
        </div>
        <div class="row">
            <div class="col-8">

            </div>
            <div class="col-4 mb-4">
                <h2>Statistiques</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-5">
                {{ render_chart(chart, {'class': 'chart'}) }}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-2">
                <a href="{{ path('app_main') }}"><img src="{{ asset('img/retour.png') }}" alt=""></a>
            </div>
        </div>
    </div>


{% endblock %}
